.img_login{
  margin-top: 15%;
  margin-bottom: 15%;
}

.img_login > img {
  display: block;
  margin: auto;
  width: 200px;
}
.img_new_user{
  margin-top: 15%;
  margin-bottom: 15%;
}
.img_new_user > img {
  display: block;
  margin: auto;
  width: 200px;
}
