<ion-view>
<ion-content>

<div class="img_login">

	<img src="img/login_img.png">

</div>

        
        <div class="list">
          <label class="item item-input">
            <span class="ion-person input-label"> Usuário</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="ion-key input-label"> Senha</span>
            <input type="password">
          </label>
            <a href="#/app/epc" style="text-decoration:none">
          <button class="ion-log-in button button-block button-balanced">
            Entrar
          </button></a>
        </div>


</ion-content>
</ion-view>